*  {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Primer problema*/

.pepe {
    display: flex;
    justify-content: center;
    margin: 5vw 0 10vw 0;
    height: 14vw;
}

.border-red {
    border: 2px solid red;
}

/*Segundo problema*/

.venta {
    display: flex;
    justify-content: center;
}

.container {
    margin: 2vw;
    & .sticker {
        display: flex;
        width: 20vw;
        height: auto;
    }
    & .input {
        display: flex;
        margin: 4vh auto 1vh auto;
        border: 2px solid rgb(205, 58, 112);
        width: 4vw;
        height: 3vw;
        font-size: 4vh;
        padding: 0 2vh 0 3vh;
    }
}

.calculo {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    & button {
        background-color: rgb(205, 58, 112);
        color: white;
        margin: 1vw auto;
        width: 19vh;
        height: 8vh;
        font-size: 3vh;
    }
    & p {
        margin: 2vw auto;
        font-size: 4vh;
    }
}


/*Tercer problema*/

.password {
    display: flex;
    justify-content: center;
    margin: 6vw;
    & select {
        font-size: 5vh;
        display: flex;
        margin: 2vh;
    }
    & button {
        background-color: rgb(205, 58, 112);
        color: white;
        width: 15vh;
        height: 6vh;
        font-size: 2.5vh;
        margin: auto 2vw;
    }
}

#verification {
    display: flex;
    justify-content: center;
    & p {
        font-size: 7vh;
    }
}