*  {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Primer problema*/

.pepe {
    display: flex;
    justify-content: center;
    margin: 3vw 0 15vw 0;
}

.border-red {
    border: 2px solid red;
}

/*Segundo problema*/

.venta {
    display: flex;
    justify-content: center;
}

.container {
    margin: 2vw;
    & .sticker {
        display: flex;
        width: 16vw;
        height: auto;
    }
    & .input {
        display: flex;
        margin: 1vw auto;
        border: 2px solid rgb(205, 58, 112);
    }
}

.calculo {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    & button {
        margin: auto;
        width: 15vh;
        height: 4vh;
        font-size: 1.7vh;
    }
    & p {
        margin: 2vh auto;
    }
}


/*Tercer problema*/

.password {
    display: flex;
    justify-content: center;
    margin: 3vh;
}

#verification {
    display: flex;
    justify-content: center;
}